@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
}
body {
  overflow-x: hidden;
  font-family: "Poppins";
}
#home {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
}
#home .text {
  margin-right: 5vw;
}
#home .text span {
  color: blueviolet;
  font-size: 2rem;
  font-weight: 500;
}
#home .text h2 {
  font-size: 4rem;
}
#home .text h2 span {
  font-size: inherit;
  font-weight: inherit;
}
#home .text p {
  font-size: 1.5rem;
}
#home .text > * {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* #home img {
  height: 25vw;
  width: 25vw;
  object-fit: cover;
  border-radius: 50%;
} */

#home .img-container {
  height: 25vw;
  width: 25vw;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid black;
  overflow: hidden;
}
#home .img-container img {
  /* margin: auto; */
  height: 100%;
  width: auto;
  object-fit: cover;
}
